# Dependencies
node_modules/

# Environment variables
.env
.env.test

# Build output
dist/

# Tests
src/tests

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage